* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title, .stock-record, .stock-table, .add-stock, .btn-add {
    display: none;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }

.choose-one {
    position: absolute;
    width: 20rem;
    height: 30rem;
    border-radius: 3rem;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin-top: -15rem;
    margin-left: -57rem;
    text-align: center;
    font-weight: bold;
    font-size: 3.3rem;
    opacity: 0.9;
}

.btn-choice {
    width: 8rem;
    height: 8rem;
    font-size: 1.5rem;
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    border: 3px solid #fff;
    padding: 0.2em 0.6em;
    border-radius: 4rem;
    margin-top: 1rem;
    transition: transform 0.5s;
}

.btn-choice:hover {
    background: #ffffff;
    color: #ff0000;
    border: 3px solid #ff0000;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.2);
}

.title {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    margin-top: -40rem;
    text-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.7);
}

.stock-table {
    position: absolute;
    height: 30rem;
    overflow: auto;
    top: 13rem;
    width: 60%;
    background-color: rgb(140, 235, 221);
}

th {
    padding: 2rem;
    text-align: left;
    background-color: rgb(61, 110, 103);
    font-size: 1.5rem;
    font-weight: bold;
}

td {
 width: 20%;
 height: 4rem;
}

tbody {
    background-color: rgb(130, 178, 171);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.stock-record {
    position: absolute;
    width: 30rem;
    height: 32rem;
    top: 8rem;
    background-color: #1100ff9a;
    border: 0.15rem solid #000000;
    border-radius: 2rem;
}

label {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    text-align: center;
}

input {
    width: 24rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    border: 0.15rem solid #000000;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.add {
    width: 12rem;
    height: 4rem;
    margin-top: 1.5rem;
    margin-left: 9rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 0.4rem solid #000000;
}

.add:hover {
    width: 12rem;
    height: 4rem;
    margin-top: 1.5rem;
    margin-left: 9rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 0.4rem solid #000000;
    cursor: pointer;
    transform: scale(1.2);
}

.btn-add {
    position: absolute;
    width: 9rem;
    height: 8rem;
    font-size: 1.5rem;
    background: #0000006a;
    color: #ffffff;
    font-weight: bold;
    border: 0.4rem solid #fff;
    padding: 0.2em 0.6em;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-left: 80rem;
    transition: transform 0.5s;
}

.btn-add:hover {
    background: #ffffff31;
    color: #ff0000;
    border: 0.4rem solid #ff0000;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.2);
}

.btn-editDelete {
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 0.1rem solid #ff0000;
    color: #ff0000;
}

.btn-editDelete:hover {
    background-color: rgb(61, 110, 103);
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 0.1rem solid #fff;
    color:  #fff;
    cursor: pointer;
}

