/** {
    background-color: #c48787;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    /*position: relative;*/
  /*  color: #6b0606;
    text-align: center;
    font-size: 4rem;
}

.stock-table {
    position: absolute;
    background-color: #b2f0cc;
    width: 50rem;
    height: 41rem;
    margin-top: 4rem;
}

.data-input {
    color: #6b0606;
    width: 10rem;
    height: 2rem;
}

.add {
    color: #6b0606;
    width: 10rem;
    height: 2rem;
}*/

